h4 {
    margin: 0
}

.item_list {
    display: flex;
    gap: 20px;
    scroll-behavior: smooth;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 99VW;
    scrollbar-color: #a57bff transparent;
}

.card {
    display: flex;
    flex-direction: row; /* domyślnie poziomo */
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 800px;
    padding: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    gap: 16px;
    box-sizing: border-box;
    width: max-content;
}

.card:hover {
    animation: glowCartBorder 1.8s linear;
}

.card-news {
    margin-right: 10px;
    display: grid;
    border: 2px solid #ccc;
    border-radius: 8px;
    max-width: 800px;
    padding: 16px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    gap: 16px;
    box-sizing: border-box;
    width: max-content;
}

.news-image {
    height: 40VH;
    justify-self: center;
}

.pressable-h1:hover {
    animation: blub 0.5s linear reverse;
}

.pressable-h1 {
    cursor: pointer;
}

#event-plan-layout {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-top: 20px;
}

#event-plan-main {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#event-plan-div {
    display: grid;
    color: white;

    border-radius: 34px 34px 50px 50px;
    width: fit-content;
    min-width: 24vw;
}

#event-plan-header {

}

.item-pic {
    max-width: 300px;
    max-height: 300px;
    border-radius: 6px;
    object-fit: cover;
}

.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-info {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
    font-size: 14px;
}


.top-info p {
    margin: 4px 0;
    color: black;
}

.description {
    margin-top: 16px;
    font-size: 14px;
    color: black;
}


@keyframes waveGradient {
    0% {
        background-position: 0% 50%;
        background-image: linear-gradient(
                50deg,
                rgba(235, 195, 219, 1) 0%,
                rgba(159, 132, 189, 1) 25%,
                rgba(192, 155, 216, 1) 50%,
                rgba(159, 132, 189, 1) 75%,
                rgba(235, 195, 219, 1) 100%
        );
    }
    40% {
        background-position: 90% 50%;
    }
    50% {
        background-position: 100% 50%;
        background-image: linear-gradient(
                120deg,
                rgba(235, 195, 219, 1) 0%,
                rgba(159, 132, 189, 1) 25%,
                rgba(192, 155, 216, 1) 50%,
                rgba(159, 132, 189, 1) 75%,
                rgba(235, 195, 219, 1) 100%
        );
    }
    60% {
        background-position: 90% 50%;
    }
    100% {
        background-position: 0% 50%;
        background-image: linear-gradient(
                50deg,
                rgba(235, 195, 219, 1) 0%,
                rgba(159, 132, 189, 1) 25%,
                rgba(192, 155, 216, 1) 50%,
                rgba(159, 132, 189, 1) 75%,
                rgba(235, 195, 219, 1) 100%
        );
    }
}

.wave-background {
    background-image: linear-gradient(
            90deg,
            rgba(235, 195, 219, 1) 0%,
            rgba(159, 132, 189, 1) 25%,
            rgba(192, 155, 216, 1) 50%,
            rgba(159, 132, 189, 1) 75%,
            rgba(235, 195, 219, 1) 100%
    );
    background-size: 200% 100%;
    background-repeat: repeat;
    animation: waveGradient 6s infinite cubic-bezier(0.42, 0, 0.58, 1);

}

/* Formularz */

.mini-item-card {
    display: flex;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

.mini-item-img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 4px;
}

.mini-item-name {
    font-weight: bold;
    flex: 1;
    margin: 0;
}

.mini-item-details {
    font-size: 12px;
    color: #555;
    margin: 0;
}

.remove-button {
    background-color: #ff4444;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    margin-top: 8px;
    cursor: pointer;
}

.remove-button:hover {
    background-color: #c62828;
}


#subtext-header {
    text-align: center;
}

.header-p {
    color: white;
    font-size: x-large;

}

#header-text {
    text-align: center;
}

#heder-of-news-section {
    border-radius: 111px 111px 111px 111px;
    padding: 10px;
    margin-left: 5VW;
    margin-right: 5VW;
    border: 10px;
    background-color: rgba(235, 195, 219, 1);
    background-color: #d3f3e6;

}


.image-text-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.image-text-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    flex-shrink: 0;
}

.text-content {
    flex: 1 1 300px;
    max-width: 40vw;
    padding-bottom: 220px;
}


.par {
    text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    align-content: center;
    color: black;
}

#news-div {
    display: flex;
    justify-content: space-evenly;
}

.item-news {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    /*gap: 1rem; !* odstępy między elementami opcjonalnie *!*/
    scroll-behavior: smooth;
    background-color: #d3f3e6;

    height: auto;
    border-radius: 25px;
    scrollbar-color: #a57bff transparent;
}


.news-tab {
    width: 40VW;
    margin: 10px;
    background-color: #d3f3e6;
    padding: 10px;
    text-align: center;
    border-radius: 34px 34px 50px 50px;
    scrollbar-color: #a57bcf #f0f0f0;
    scrollbar-width: thin;
    transition: width 0.5s ease;

}

#item-news-1.focus-tab {
    width: 96vw;
}

#item-news-2.focus-tab {
    width: 96vw;
}

#item-news-1.hidden {
    display: none;
}

#item-news-2.hidden {
    display: none;
}

#custom-work-div {
    background-color: #d3f3e6;
    border-radius: 20px;
    margin-left: 5VW;
    margin-right: 5VW;
}

#custom-work-header {
    text-align: center;
}

#custom-work-text {
    display: grid;
    align-content: center;
}

#custom-work-image-box {
    display: grid;
}

#custom-work-main {
    display: flex;
    justify-content: center;
}

#custom-h3 {
    font-size: xx-large;
    width: 34vw;
}

#header-h2 {
    text-align: left;
}

@media (max-width: 768px) {
    /*body, html {*/
    /*    font-size: x-large;*/
    /*}*/
    .card {
        flex-direction: column;
        align-items: center;
        width: 72vw;
    }

    .styled-border {
        display: flex;
    }

    .item-pic {
        width: 78%;
        height: auto;
    }

    .action-button {
        align-self: center;
    }

    .info-section {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .top-info {
        justify-content: center;
    }

    .image-text-container {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        max-width: 100%;
    }


    #links {
        align-content: center;
        display: flex;
        justify-content: space-between;
    }

    #news-div {
        display: grid;
        overflow: hidden
    }

    .news-tab {
        width: 88vw;
        padding: 10px;
        margin: 10px;
    }

    .news-image {
        width: 60vw;
    }

    #item-news-1.focus-tab {
        width: 88vw;
        display: grid;
    }

    #item-news-2.focus-tab {
        width: 88vw;
        display: grid;

    }

    #item-news-1.hidden {
        display: grid;

    }

    #item-news-2.hidden {
        display: grid;

    }

    #custom-work-main {
        display: grid;
    }

    #custom-work-image {
        width: 50%;
        justify-self: center;
    }

    #custom-h3 {
        width: auto;
    }

    #header-img {
        height: auto;
    }

    #header-h2 {
        text-align: center;
    }

    #event-plan-layout {
        display: grid

    }

    #event-plan-div {
        max-width: 91VW;
        width: auto;
    }

}

