<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Sue Ellen Francisco' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/default.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/list.css') }}">
    <title>Kiki chaotic shop</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename="/images/favicon.webp") }}">
</head>
<title>Chaotic warehous</title>
<body>

<div id="info-banner">
    <h1 id="info-h1"> we're sending order on monday</h1>
</div>
<div id="sticky-nav">
    <div style="rotate: 180deg;" id="goback"><a href="{{ url_for('fron_page') }}"> ➜</a></div>
    <div id="cart-icon">
        🛒
    </div>
</div>
<header>


</header>

<main>
    <div id="select-layout">
        <div id="left-checklist">
            <form id="check-list-form">
                <button onclick="get_results()" type="button">search</button>
                <label id="label-for-type">
                    type<input id="show-types" type="checkbox"/>
                </label>
                <div class="hidden-content" id="list-type"></div>


                <label id="label-for-tags">
                    tags<input id="show-tags" type="checkbox"/>
                </label>
                <div class="hidden-content" id="list-tags"></div>

                <label id="label-for-source">
                    source<input id="show-source" type="checkbox"/>
                </label>
                <div class="hidden-content" id="list-source"></div>

                <label id="label-for-feature">
                    feature<input id="show-feature" type="checkbox"/>
                </label>
                <div class="hidden-content" id="list-feature"></div>

                <label id="label-for-variant">
                    variant<input id="show-variant" type="checkbox"/>
                </label>
                <div class="hidden-content" id="list-variant"></div>

            </form>

        </div>

        <div>
            <img id="select-img" src="{{ url_for('static', filename='/images/smallKiki.webp') }}" alt="logo">
        </div>
    </div>


    <audio id="removeAudio" src="{{ url_for('static', filename='sounds/removeSound.wav') }}" preload="auto"></audio>
    <audio id="addAudio" src="{{ url_for('static', filename='sounds/addSound.wav') }}" preload="auto"></audio>
    <div id="cart-panel" style="right: -100vw">
        <h2>Twój koszyk</h2>
        <div id="cart-items">
        </div>
        <div id="cart-cost">

        </div>
        <button onclick="clearCart()">Wyczyść koszyk</button>

        <h3>Dane do wysyłki</h3>
        <form id="checkout-form">
            <label>
                name and surname
                <input type="text" name="name" placeholder="" required><br>
            </label>
            <label>
                street
                <input type="text" name="street" placeholder="street" required>
            </label>
            <label>
                building / local / letter
            </label>
            <label style="display: flex">
                <input type="number" name="building_number" placeholder="building-number" required>
                <input type="number" name="local_number" placeholder="local-number">
                <input type="text" name="local_letter" placeholder="local-letter">
            </label>
            <label>
                post code 2 | post code 3
            </label>
            <label style="  display: flex;">
                <input type="number" name="post_code_2" placeholder="00" required>
                <input type="number" name="post_code_3" placeholder="000" required>
            </label>
            <label>
                location
            </label>
            <label>
                <input type="text" name="city" placeholder="Warsaw" required>
            </label>
            <label>
                cuntry
            </label>
            <label>
                <input type="text" name="cuntry" placeholder="Poland" required>
            </label>

            <label>
                preferowana forma komunikacji
                <select id="communication-option" onchange="setSelectionInput()" name="communication-option">
                    <option>Email</option>
                </select>
            </label>
            <label>
                email address
                <input type="email" placeholder="example@gamil.com" id="input-for-communication-address"
                       name="contact_address">
            </label>
            <br>
            <br>
            <label id="label-for-communication-method">
            </label>
            <button id="checkout-button" type="button">Zamów</button>
        </form>
    </div>

    <div id="message" style="display: none;">
        <div class="styled-border">
            <div id="clea-message"></div>
        </div>
    </div>

    <div id="main-panel-layout">
        <div id="item-list"></div>
    </div>
    <div id="list-of-page">

    </div>

</main>

<script src="{{ url_for('static', filename='/js/operation_finalizer.js') }}"></script>
<script src=" {{ url_for('static', filename='/js/card_generator.js') }}"></script>
<script src=" {{ url_for('static', filename="/js/cart.js") }}"></script>
<script type="text/javascript">
    let list_of_items = {{  items | tojson | safe   }}
    const data = JSON.parse(list_of_items);

</script>
<script src="{{ url_for('static', filename='/js/search_engine.js') }}"></script>
<script src=" {{ url_for('static', filename="/js/animation.js") }}"></script>

<footer>

    <div id="footer-main-container">
        <div id="info">
            <a class="text-link">
                <p>lin/info1</p>
            </a>
            <a class="text-link">
                <p>lin/info1</p>
            </a>
            <a class="text-link">
                <p>lin/info1</p>
            </a>
        </div>
        <div style="display: grid;   text-align: center;">
            <img style="  max-width: 100vw;" src="{{ url_for('static', filename='/images/smallKiki.webp') }}"
                 alt="logo">


            <div id="links">
                <a class="logo-link" href="https://www.instagram.com/kikaria.ink/">
                    <img class="social-media" src="{{ url_for('static', filename='/images/instagram.svg') }}"
                         alt="instagram">
                </a>
                <a class="logo-link" href="https://www.instagram.com/kikaria.ink/">
                    <img class="social-media" src="{{ url_for('static', filename='/images/facebook.svg') }}"
                         alt="facebook">
                </a>
                <a class="logo-link" href="https://www.instagram.com/kikaria.ink/">
                    <img class="social-media" src="{{ url_for('static', filename='/images/tiktok.svg') }}" alt="tiktok">
                </a>
                <a class="logo-link" href="https://www.linkedin.com/in/adrian-adam-zajac/">
                    <img class="social-media" src="{{ url_for('static', filename='/images/linkedin.svg') }}"
                         alt="linkedin">
                </a>
            </div>
        </div>

    </div>

</footer>
</body>
</html>